@media screen and (max-width: 570px) {

    /* header */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: black;
        padding: .5rem;
        position: sticky;
        top: 0;
        gap: 20px;
        z-index: 10;
        min-height: 3vh;
    }

    /* nav section */

    .logo img {
        margin-left: 7px;
        width: 75px;
        height: 45px;
        border: 1px solid #fa791e;
        padding: 2px;
        border-radius: 7px;
    }

    nav li {
        /* display: inline-block; */
        margin-right: 1rem;
        padding: 0.5rem;
        /* padding-top: 0%;
        padding-bottom: 0%;
        transition: all 0.4s; */
    }

    .nohover {
        background-color: #f18035;
        color: white !important;
        padding: 10px;
        transition: all 0.3s;
    }

    .owners-card-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* text-align: center; */
    }

    .owners h3 {
        color: white;
        font-family: sans-serif;
        text-align: center;
        font-size: 3rem;
        background-color: #f180359a;
        margin: 20px;
        margin-right: 20%;
        margin-left: 20%;
        border-radius: 5rem;
        font-style: italic;
        font-stretch: wider;
    }

    .owners-card {
        flex: 1;
        height: 480px;
        border-radius: 0.6rem;
        background-color: #f1803555;
        border: #f180359a solid 0.5px;
        box-shadow: 5px 5px 15px 1px;
        padding: 2rem;
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s;
        border-radius: 20px;
        text-align: center;
        align-items: center;
    }

    .owners-image {
        display: block;
        width: 30rem;
        text-align: center;
        align-items: center;
        border-radius: 0.6rem;
        filter: grayscale(100%);
        transition: all 0.3s;
    }

    .form-field {
        width: 30rem;

        /* height: 100%; */
        /* display: block; */
        /* padding-right: 20rem; */
    }

    .contact-box {
        text-align: center;
        margin-left: 2rem;
    }

    #contact-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* flex-direction: column; */
    }

    .contact-btn{
        width: 15rem;
        height: 4rem;
    }

    .contact-handle {
        padding-left: 14rem;
        padding-right: 10rem;
        margin-bottom: 3rem;
    }
}